@charset "UTF-8";

/*페이지세로 가변적인 길이 유지*/
html {
	height: 100%;
}
body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	position: relative;
}


/*푸터 고정*/
footer {
	position: absolute;
	bottom: -300px;
}


/*content 기본형식*/
#content{
	width: 70%;
    margin: 120px auto 0;
}


/*input 태그 디자인*/
.input-style {
	height: 50px;
	border: 0.5px solid #D8D8D8;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	padding: 18px;
}
input:focus {
	outline: none;
}
select:focus {
	outline: none;
}
textarea:focus {
	outline: none;
}
textarea {
	white-space: pre-wrap;
}


/*유효성 검사*/
.check-msg {
	display: block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	padding: 10px 0 0 10px;
}


/*페이지 소제목 설정*/
.box-title {
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	color: #2A2A2A;
}
.tit-small {
	padding: 60px 0 0 5px;
	font-size: 16px;
}
.tit-big {
	padding-top: 5px;
	font-size: 40px;
	letter-spacing: -3px;
}
.tit-big:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 30px;
	background-color: #2A2A2A;
}


/*버튼 디자인(m 사이즈)*/
.btn-m {
	width: 173px;
	height: 55px;
	border: 0;
	border-radius: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	line-height: 55px;
	color: #fff;
	cursor: pointer;
}
.btn-m>a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	line-height: 55px;
	color: #fff;
}


/*버튼 디자인(s 사이즈)*/
.btn-s {
	width: 120px;
	height: 40px;
	border: 0;
	border-radius: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
}
.btn-s>a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
}


/*버튼 디자인(사각형 버전)*/
.btn-rec {
	width: 100px;
	height: 40px;
	border: 0;
	background-color: #AFD485;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.btn-rec>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
}


/*검색창 디자인*/
.box-search {
	float: right;
}
.select-search {
	float: left;
	width: 150px;
	height: 40px;
	position: relative;
}
.select-search>select {
	width: 100%;
	height: 100%;
	border: 0.5px solid #D8D8D8;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	padding: 0 40px 0 18px;
	
	/*기본아이콘 삭제*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select-search>select::-ms-extend {
	display: none;
}
.icon-arrow {
	position: absolute;
	top: 15px;
	right: 16px;
	color: #AAAAAA;
	z-index: 999;
}
.input-search {
	float: left;
	width: 350px;
	height: 40px;
	border: 0.5px solid #D8D8D8;
	box-sizing: border-box;
	margin-right: 10px;
}
.icon-search {
	font-size: 16px;
	margin: 12px 10px 0 18px;
	color: #C8C8C8;
}
.input-search>input {
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.box-search>input {
	float: left;
}


/*사용자 프로필 디자인(글쓰기/댓글용)*/
.box-writer {
	width: 100%;
	height: 50px;
}
.user-img {
	width: 50px;
	height: 50px;
	border: 1px solid #AAAAAA;
	border-radius: 100px;
	float: left;
	overflow: hidden;
}
.user-img>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.user-name {
	height: 50px;
	float: left;
	margin: 5px 0 0 15px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.user-name>span {
	font-size: 12px;
	color: #AEAEAE;
}


/*베스트 리뷰 swiper*/
.box-review-best {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.swiper {
	width: 100%;
	height: 300px;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	width : 30%;
	height: 100%;
	text-align: center;
	font-size: 18px;
	position: relative;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
	color : #AAAAAA;
}
.swiper-slide a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.25s;
}

.box-review-hover {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	padding-top: 120px;
	z-index: 99;
}
.tit-review {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #FFF;
	margin-bottom: 5px;
}
.box-review-hover .far {
	font-size: 16px;
	color: #FFF;
	margin-right: 5px;
}
.box-review-hover span {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #FFF;
}
.fa-comment {
	margin-left: 10px;
}


/*page navi*/
#page_wrap {
    width: 100%;
}
#page_wrap .page_ul {
    display: table;
    margin : 0 auto;
}
#page_wrap .page_ul li {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    margin: 0 5px;
    line-height: 15.5px;
    font-size: 16px;
    color: #2A2A2A;
}
#page_wrap .page_ul li a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
    padding: 10px;
    border-radius: 50%;
/*     transition: ease 0.3s; */
}
#page_wrap .page_ul li a.page_active {
    background-color: #AFD485;
    border-radius: 50%;
    color: #fff;
}