@charset "UTF-8";
.bg-color {
	width: 100%;
	height: 100vh;
	background-color: #EEEEEE;
	overflow: hidden;
}
.box-white {
	margin: 10% auto;
	width: 500px;
	background-color: white;
	padding: 40px;
}

.tab-search {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.tab-search>a {
	display: inline-block;
	width: 49%;
	height: 100%;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
}
.tab-search>a:first-child::after {
	content: "";
	display: block;
	width: 100%;
	height: 3.5px;
	background-color: white;
	margin-top: 15px;
}

.input-style {
	width: 100%;
}

.btn-searchId {
    width: 100%;
	height: 55px;
	background-color: #9af3ed;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin-bottom: 20px;
}

.box-white>a {
	display: block;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #707070;
}