@charset "UTF-8";
.bg-color {
	width: 100%;
	height: 100vh;
	background-color: #EEEEEE;
	overflow: hidden;
}
.box-white {
	margin: 10% auto;
	width: 400px;
	background-color: white;
	padding: 40px;
}

.tab-search {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.tab-search>a {
	display: inline-block;
	width: 49%;
	height: 100%;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
}
.tab-search>a:first-child::after {
	content: "";
	display: block;
	width: 100%;
	height: 3.5px;
	background-color: #ffffff;
	margin-top: 15px;
}

.box-result>p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	margin-bottom: 30px;
}

.box-userInfo {
	width: 100%;
	height: 90px;
	border: 0.5px solid #D8D8D8;
	text-align: center;
	line-height: 90px;
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 30px;
}
#userId {
	font-size: 16px;
	color: #2A2A2A;
	padding-right: 50px;
}
#enrollDate {
	font-size: 12px;
	color: #C8C8C8;
}

.btn-login {
	width: 100%;
	height: 55px;
	background-color: #9af3ed;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}
.btn-login>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 55px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: white;
}