@charset "UTF-8";
.bg-color {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #EEEEEE;
	overflow: hidden;
}
.box-white {
	margin: 80px auto;
	width: 450px;
	background-color: white;
	padding: 40px;
}

.logo-user {
	margin-top: 50px;
	text-align: center;
}
.logo-user>a>img {
	height: 50px;
	margin-bottom: 80px;
}

.tit-label {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	margin: 20px 0 10px;
}
.tit-label:first-child {
	margin-top: 0;
}

.input-style {
	width: 100%;
}
input[name="userPwdRe"]{
	margin-top: 20px;
}

.tit-join {
	margin-top: 30px;
	margin-bottom: 40px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	color: #2A2A2A;
	display: flex;
	align-items: center;
}
.tit-join::before {
	content: "";
	flex-grow: 1;
	background-color: #AAAAAA;
	height: 0.5px;
	margin-right: 10.5px;
}
.tit-join::after {
	content: "";
	flex-grow: 1;
	background-color: #AAAAAA;
	height: 0.5px;
	margin-left: 10.5px;
}

.box-checkbox {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	margin-bottom: 40px;
}
.box-checkbox>input {
	width: 17px;
	height: 17px;
	margin: 0 5px 0 0;
	position: relative;
	top: 3px;
}
.box-checkbox>a {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	margin-bottom: 20px;
}
.btn-submit {
	width: 100%;
	height: 55px;
	background-color: #9af3ed;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

	
