<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
  	<!-- SQL QUERYS -->
  	
  	<!-- 관리자 로그인 -->
  	<select id="selectLoginAdmin" parameterType="admin" resultType="admin">
  		SELECT 
  			adminno as adminNo,
  			adminid as adminId,
  			adminpwd as adminPwd,
  			adminname as adminName,
  			admingrade as adminGrade,
  			admindate as adminDate,
  			adminemail as adminEmail,
  			admindepart as adminDepart
  		FROM
  			admin
  		WHERE adminid = #{adminId} and adminpwd = #{adminPwd} and adminGrade = 'N' 
  	</select>
  	<!-- or로 adminGrade를 적어야할 것 같은데 모르겠다.. 0 or 1or 2 여야 한다 -->
  	
  	
  	
  	<!-- 관리자 비밀번호 변경 -->
  	<update id="updatePassword" parameterType="hashmap">
		UPDATE
			ADMIN
		SET
			adminPwd = #{adminNewPass}
		WHERE
			adminId = #{adminId} AND adminPwd = #{adminOriginalPass}
	</update>
  	
</mapper>
