<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
  	<!-- SQL QUERYS -->
  	
  	<!-- 관리자 로그인 -->
  	<select id="selectLoginAdmin" parameterType="admin" resultType="admin">
  		SELECT 
  			adminno as adminNo,
  			adminid as adminId,
  			adminpwd as adminPwd,
  			adminname as adminName,
  			admingrade as adminGrade,
  			admindate as adminDate,
  			adminemail as adminEmail,
  			admindepart as adminDepart
  		FROM
  			admin
  		WHERE adminid = #{adminId} and adminpwd = #{adminPwd} and adminGrade != 'W' 
  	</select>
  	
  	
  	
  	<!-- 관리자 비밀번호 변경 -->
  	<update id="updatePassword" parameterType="hashmap">
		UPDATE
			ADMIN
		SET
			adminPwd = #{adminNewPass}
		WHERE
			adminId = #{adminId} AND adminPwd = #{adminOriginalPass}
	</update>
	
	
	<!-- 관리자 탈퇴 -->
	<update id="updateWithdraw" parameterType="hashmap">
		UPDATE
			ADMIN
		SET
			ADMIN_GRADE = 'Y'
		WHERE 
			ADMIN_ID = #{adminId} AND ADMIN_PWD = #{adminPwd}
	</update>
	
	<!-- 관리자 가입 -->
	<insert id="insertAdminMember" parameterType="admin">
		INSERT INTO 
			ADMIN 
		VALUES (ADMIN_SEQ.NEXTVAL, #{adminId}, #{adminPwd}, #{adminName}, '1', current_date, #{adminEmail}, '기획부')
	</insert>
	
	<!-- 관리자 ID 중복 체크 -->
	<select id="selectAdminIdCheck" resultType="admin">
		SELECT 
			adminno as adminNo,
			adminid as adminId,
			adminpwd as adminPwd,
			adminname as adminName,
			admingrade as adminGrade,
			admindate as adminDate,
			adminemail as adminEmail,
			admindepart as adminDepart
		FROM
			ADMIN
		WHERE ADMINID = #{value}
	</select>
	
	<!-- 모든 회원 정보 가져오기 -->
	<select id="selectAllList" resultType="member">
		SELECT 
			adminno as adminNo,
			adminid as adminId,
			adminpwd as adminPwd,
			adminname as adminName,
			admingrade as adminGrade,
			admindate as adminDate,
			adminemail as adminEmail,
			admindepart as adminDepart
		FROM
			ADMIN
	</select>
	
  	
</mapper>
