<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="discuss">

	<!-- 시민토론 목록 -->
	<select id="list" resultType="discuss">
		select discuss_no as discussNo,
			discuss_title as discussTitle,
			userid as userId,
			discuss_content as discussContent,
			discuss_date as discussDate,
			discuss_start as discussStart,
			discuss_end as discussEnd,
			discuss_thumbnail_name as discussThumbnailName,
			discuss_thumbnail_path as discussThumbnailPath
		from discussion
		where discuss_del_yn='N'
	</select>
	
	<select id="discussTotalCount" resultType="int">
		select count(*) from discussion
	</select>
	
	<select id="onePost" resultType="discuss">
		select discuss_no as discussNo,
			discuss_title as discussTitle,
			userid as userId,
			discuss_content as discussContent,
			discuss_date as discussDate,
			discuss_start as discussStart,
			discuss_end as discussEnd,
			discuss_thumbnail_name as discussThumbnailName,
			discuss_thumbnail_path as discussThumbnailPath
		from discussion
		where discuss_no=#{value} and discuss_del_yn='N'
	</select>
	
	<select id="proCommentList" resultType="hashmap">
		select
			userid as userId,
			comment_content as commentContent
		from discuss_comment
		where discuss_no=#{value} and comment_vote='Y'
	</select>
	
	<select id="conCommentList" resultType="hashmap">
		select
			userid as userId,
			comment_content as commentContent
		from discuss_comment
		where discuss_no=#{value} and comment_vote='N'
	</select>
	
	<select id="commentList" resultType="hashmap">
		select
			userid as userId,
			comment_content as commentContent,
			comment_vote as commentVote
		from discuss_comment
		where discuss_no=#{value}
	</select>
	
	<select id="commentTotalCount" resultType="int">
		select count(*)
		from discuss_comment
		where discuss_no=#{value}
	</select>
	
	<select id="fileList" resultType="discussFile">
		select
			file_name as fileName,
			file_path as filePath
		from discuss_file
		where discuss_no=#{value}
	</select>
	
	<insert id="write" parameterType="discuss">
		insert into discussion values
		(discuss_seq.nextval,#{discussTitle},#{userId},#{discussContent},current_date,current_date,current_date+14,'N',#{discussThumbnailName},#{discussThumbnailPath})
	</insert>
	
	<insert id="writeComment" parameterType="hashmap">
		merge into discuss_comment using dual
		on (userid=#{userId})
		when matched then
		    update set comment_content=#{commentContent},
		               comment_date=current_date
		when not matched then
		    insert (discuss_no,comment_no,userid,comment_content,comment_vote,comment_date)
		    values (#{discussNo},discuss_comment_seq.nextval,#{userId},#{commentContent},#{commentVote},current_date)
	</insert>
	
	<select id="myComment" parameterType="hashmap" resultType="hashmap">
		select
			comment_content as commentContent,
			comment_vote as commentVote
		from discuss_comment
		where discuss_no=#{discussNo} and userid=#{userId}
	</select>
	
	<update id="vote" parameterType="hashmap">
		update discuss_vote set
			vote_pro=vote_pro+#{votePro},
			vote_con=vote_con+#{voteCon},
			vote_total=vote_total+1
		where discuss_no=#{discussNo}
	</update>
	
	<select id="getVote" resultType="hashmap">
		select
			vote_pro as votePro,
			vote_con as voteCon,
			vote_total as voteTotal
		from discuss_comment
		where discuss_no=#{value}
	</select>
	
	<insert id="fileUpload" parameterType="hashmap">
		merge into discuss_file using dual
		on (discuss_no=discuss_seq.currval+1)
		when matched then
			update set file_name=#{fileName},
		               file_path=#{filePath}
		insert (discuss_no,file_no,file_name,file_path)
		    values (discuss_seq.currval+1,discuss_comment_seq.nextval,#{fileName},#{filePath})
	</insert>
	
	<select id="getList" resultType="discuss">
		select discuss_no as discussNo,
			discuss_title as discussTitle,
			userid as userId,
			discuss_content as discussContent,
			discuss_date as discussDate,
			discuss_start as discussStart,
			discuss_end as discussEnd,
			discuss_thumbnail_name as discussThumbnailName,
			discuss_thumbnail_path as discussThumbnailPath
		from discussion
		where discuss_del_yn='N'
	</select>
	
</mapper>
