<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<!-- SQL QUERYS -->
	
		<!-- SQL QUERYS -->
	<select id="selectLoginMember" parameterType="member" resultType="member">
		SELECT
			userid as userId,
			userpwd as userPwd,
			username as userName,
			NICK as nick.
			EMAIL as email,
			enrollDate as enrollDate,
			end_yn as endYN,
			USERGRADE as userGrade
		FROM
			member
		WHERE userid = #{userId} and userpwd = #{userPwd} and end_yn='N'
	</select>	
	
	
</mapper>
	