<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">

	<!-- 
		NOTICE_NO	공지사항 번호
		NOTICE_TITLE	제목
		NOTICE_CONTENT	내용
		NOTICE_DATE		등록일
		NOTICE_DEL_YN	삭제 여부
		NOTICE_THUMBNAIL_NAME	썸네일명
		NOTICE_THUMBNAIL_PATH	썸네일 경로
	 -->

	<!-- 공지사항 목록 보여주기 -->
	<select id="selectAllNoticeList" resultType="notice">
	  	SELECT 
	  		notice_no as noticeNo,
	  		notice_title as noticeTitle,
			notice_date as noticeDate,
			notice_del_yn as noticeDelYN
	  	FROM NOTICE
		WHERE NOTICE_DEL_YN ='N' 
		ORDER BY NOTICE_NO DESC
	  </select>
	
	<!-- totalCount 필요한 로직 -->
	<select id="selectNoticeTotalCount" resultType="int">
	  	SELECT 
	  		COUNT(*)
	  	FROM NOTICE
		WHERE NOTICE_DEL_YN='N' 
		ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- 공지사항 작성 -->
	<insert id="insertNoticeWrite" parameterType="notice">
		INSERT INTO 
			NOTICE 
		VALUES (NOTICE_SEQ.NEXTVAL, #{noticeTitle}, #{noticeContent}, current_date, 'N', '1', '2')
	</insert>
	
	<!-- 공지사항 제목 클릭 시 하나의 공지사항 보여주기 -->
	<select id="selectOneNotice" parameterType="int" resultType="notice">
		SELECT 
			NOTICE_NO as noticeNo,
			NOTICE_TITLE as noticeTitle,
			NOTICE_CONTENT as noticeContent,
			NOTICE_DATE as noticeDate,
			NOTICE_DEL_YN as noticeDelYN,
			NOTICE_THUMBNAIL_NAME as noticeThumbnailName,
			NOTICE_THUMBNAIL_PATH as noticeThumbnailPath
		FROM NOTICE
		WHERE notice_no = #{noticeNo}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="noticeUpdate" parameterType="notice">
		UPDATE
			NOTICE
		SET 
			notice_title = #{noticeTitle},
			notiec_content = #{noticeContent}
		WHERE
			notice_no = #{notice_no}
	</update>
	
	
</mapper>
