<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="proposal">
	<!-- SQL QUERYS -->
	
	<select id="selectAllList" parameterType="proposal" resultType="proposal">
	SELECT 
			proposal_no as proposalNo,
 		 	proposal_title as proposalTitle,
 		 	proposal_content as proposalContent,
 		 	proposal_date as proposalDate,
 		 	proposal_start as proposalStart,
 		 	proposal_end as proposalEnd,
 		 	proposal_del_YN as proposalDelYN,
 		 	proposal_Thumbnail as proposalThumbnail
	FROM 
		PROPOSAL
	where proposal_del_YN ='N'
 	ORDER BY 
            proposalNo desc
	</select>
	
	<select id="proposalView" resultType="proposal">
	SELECT
			proposal_no as proposalNo,
 		 	proposal_title as proposalTitle,
 		 	proposal_content as proposalContent,
 		 	proposal_date as proposalDate,
 		 	proposal_start as proposalStart,
 		 	proposal_end as proposalEnd,
 		 	proposal_del_YN as proposalDelYN
 	FROM
 		PROPOSAL
 	WHERE
 		proposal_No = #{propsalNo}

	
	</select>
	
	<!--  모든 리스트갯수 -->
	<select id="listTotalCount"  resultType="int">
	SELECT COUNT (*) FROM Proposal
	
	</select>
	
	
	
	<!-- 특정 게시물 모든 댓글갯수 -->
	<select id="commentTotalCount" parameterType="int" resultType="int">
	SELECT COUNT (*) FROM Proposal_Comment 
	where proposal_No  = #{propsalNo}
	</select>
	
<!-- 	특정게시글 모든 댓글 -->
	<select id="commentAllList" parameterType="int" resultType="hashmap">
	SELECT
		proposal_No as PROPOSALNO,
		comment_no as COMMENTNO,	
		userId as USERID,
		comment_content as CONTENT,
		TO_CHAR(comment_date, 'YYYY-MM-DD') as REGDATE
	FROM Proposal_Comment 
	where proposal_No  = #{propsalNo}
	order by
	 comment_No desc
	</select>
	
	
	<!-- 게시판글쓰기 -->
	<insert id="insert" parameterType="proposal">
		insert into proposal  
		values (
			PROPOSAL_SEQ.NEXTVAL,
			#{proposalTitle}, 
			#{proposalContent},
			current_date,
			current_date,
			current_date + 14,
			'N',
			#{proposalThumbnail, jdbcType=VARCHAR},
			#{proposalThumbnailPath, jdbcType=VARCHAR})
		
	</insert>
	
	<!-- 게시글수정처리 -->
	<update id="modify" parameterType="proposal">
		update proposal set
			proposal_Title = #{proposalTitle},
	 		proposal_Content = #{proposalContent}
		where proposal_No = #{proposalNo}
	
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="delete" parameterType="proposal">
		update proposal set
			proposal_Del_YN='Y'
		where proposal_No = #{proposalNo}
	</update>
	
	
	<!-- 댓글목록 -->
	<select id="commentList" parameterType="kr.go.seoul.democracy.proposal.model.vo.ProposalComment">
		select
			comment_no as CommentNo,
			userId as userId,
			comment_content as commentContent,
			comment_date as commnetDate
		from proposal_Comment
		where proposal_No = #{proposalNo}
	</select>		
	
	<!-- 댓글작성 -->
	<insert id="commentWrite" parameterType="kr.go.seoul.democracy.proposal.model.vo.ProposalComment">
		insert into
		 proposal_comment
		 values(
		 #{proposalNo},
		 PROPOSAL_COMMENT_SEQ.NEXTVAL,
		 #{userId},
		 #{commentContent},
		 current_date)
	</insert>
</mapper>
	