<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="proposal">
	<!-- SQL QUERYS -->
	
	<select id="selectAllList" parameterType="proposal" resultType="proposal">
	SELECT 
			proposal_no as proposalNo,
 		 	proposal_title as proposalTitle,
 		 	proposal_content as proposalContent,
 		 	proposal_date as proposalDate,
 		 	proposal_start as proposalStart,
 		 	proposal_end as proposalEnd,
 		 	proposal_del_YN as proposalDelYN
	FROM 
		PROPOSAL
	
 	ORDER BY 
            proposalNo desc
	</select>
	
	<select id="proposalView" resultType="proposal">
	SELECT
			proposal_no as proposalNo,
 		 	proposal_title as proposalTitle,
 		 	proposal_content as proposalContent,
 		 	proposal_date as proposalDate,
 		 	proposal_start as proposalStart,
 		 	proposal_end as proposalEnd,
 		 	proposal_del_YN as proposalDelYN
 	FROM
 		PROPOSAL
 	WHERE
 		proposal_No = #{propsalNo}

	
	</select>
	
	
	
</mapper>
	