<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="proposal">
	<!-- SQL QUERYS -->
	
	<select id="selectAllList" parameterType="proposal" resultType="proposal">
	SELECT 
			proposal_no as proposalNo,
 		 	proposal_title as proposalTitle,
 		 	proposal_content as proposalContent,
 		 	proposal_date as proposalDate,
 		 	proposal_start as proposalStart,
 		 	proposal_end as proposalEnd,
 		 	proposal_del_YN as proposalDelYN
	FROM 
		PROPOSAL
	
 	ORDER BY 
            proposalNo desc
	</select>
	
	<select id="proposalView" resultType="proposal">
	SELECT
			proposal_no as proposalNo,
 		 	proposal_title as proposalTitle,
 		 	proposal_content as proposalContent,
 		 	proposal_date as proposalDate,
 		 	proposal_start as proposalStart,
 		 	proposal_end as proposalEnd,
 		 	proposal_del_YN as proposalDelYN
 	FROM
 		PROPOSAL
 	WHERE
 		proposal_No = #{propsalNo}

	
	</select>
	
	<select id="proposalCnt" parameterType="proposal" resultType="int">
	SELECT COUNT (*) FROM Proposal WHERE proposal_del_YN='n'
	</select>
	
	<!-- 게시판글쓰기 -->
	<insert id="insert" parameterType="proposal">
		insert into proposal  
		values (
			PROPOSAL_SEQ.NEXTVAL,
			#{proposalTitle}, 
			#{proposalContent},
			current_date,
			current_date,
			current_date + 14,
			'N',
			#{proposalThumbnail, jdbcType=VARCHAR},
			#{proposalThumbnailPath, jdbcType=VARCHAR})
		
	</insert>
	
	<!-- 게시글수정처리 -->
	<update id="modify" parameterType="proposal">
		update proposal set
		proposalTitle = #{proposalTitle},
 		proposalContent = #{proposalContent}
		where proposal_No = #{proposalNo}
	
	</update>
	
	<delete id="delete" parameterType="proposal">
		delete from proposal
		where proposal_No = #{proposalNo}
	</delete>
	
			
</mapper>
	