<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="suggest2">
	<insert id="insertPost" parameterType="kr.go.seoul.democracy.suggest2.model.vo.Suggest">
		INSERT INTO SUGGESTION
		VALUES ( suggestion_seq.nextval, #{suggestTitle}, #{userId}, #{suggestContent}, CURRENT_DATE, CURRENT_DATE, CURRENT_DATE + 14, 'N', #{suggestGory}, #{suggestLocal} )
	</insert>
	<update id="updatePost" parameterType="kr.go.seoul.democracy.suggest2.model.vo.Suggest">
		UPDATE SUGGESTION
		SET suggest_title = #{suggestTitle}, suggest_content = #{suggestContent}
		WHERE suggest_no = #{suggestNo} AND userid = #{userId}
	</update>
	<select id="selectPost" parameterType="int" resultType="kr.go.seoul.democracy.suggest2.model.vo.Suggest">
		SELECT
			suggest_no as suggestNo,
			suggest_title as suggestTitle,
		    userid as userId,
		    suggest_content as suggestContent,
			suggest_gory as suggestGory,
		    suggest_local as suggestLocal
		FROM SUGGESTION
		WHERE suggest_no = #{suggestNo}
	</select>
	<select id="doneSuggestion" resultType="hashmap" >
		SELECT
			suggest_no as BOARDNO,
			'suggest' as CATEGORY,
			suggest_title as TITLE,
			suggest_content as CONTENT,
			TO_CHAR(suggest_start, 'YYYY-MM-DD') as STARTDATE,
			TO_CHAR(suggest_end, 'YYYY-MM-DD') as ENDDATE,
			NVL(HIT_COUNT, 0) as HITCOUNT,
			NVL("COMMENTS", 0) as COMMENTCOUNT,
			NVL("HEARTS", 0) as HEARTCOUNT,
			'none' as THUMBNAIL
		FROM SUGGESTION
			LEFT JOIN SUGGEST_HITS ON (SUGGESTION.suggest_no = SUGGEST_HITS.board_no)
			LEFT JOIN (
				SELECT suggest_no, COUNT(*) AS "COMMENTS"
				FROM SUGGEST_COMMENT
				GROUP BY suggest_no) USING (suggest_no)
			LEFT JOIN (
				SELECT suggest_no, COUNT(*) AS "HEARTS"
				FROM SUGGEST_COMMENT
				WHERE comment_heart = 'Y'
				GROUP BY suggest_no) USING (suggest_no)
		WHERE suggest_del_yn = 'N'
			AND SUGGEST_END <![CDATA[<]]> CURRENT_DATE
		ORDER BY suggest_date DESC
	</select>
</mapper>
