<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test">
	<!-- SQL QUERYS -->
	<select id="date" resultType="string">
		SELECT SYSDATE, SYSTIMESTAMP, current_date, current_timestamp FROM dual
	</select>
	
		<!-- 공지사항 -->
		<select id="noticeList" parameterType="adminNotice" resultType="adminNotice">
		SELECT 
		    NOTICE_NO as discussNo,
			NOTICE_TITLE  as discussTitle,
			NOTICE_CONTENT as discussContent,
			NOTICE_DATE as discussDate,
			NOTICE_DEL_YN as discussDelYN
		from NOTICE
	</select>
</mapper>
