<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- Alias -->
	<typeAliases>
        <typeAlias type="kr.go.seoul.democracy.common.model.vo.Member" alias="member" />
        <typeAlias type="kr.go.seoul.democracy.proposal.vo.Proposal" alias="proposal" />
    </typeAliases>
</configuration>