<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- Settings -->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="callSettersOnNulls" value="true" />
    </settings>

    <!-- Alias -->
	<typeAliases>
        <typeAlias type="kr.go.seoul.democracy.common.model.vo.Member" alias="member" />
        <typeAlias type="kr.go.seoul.democracy.proposal.model.vo.Proposal" alias="proposal" />
        <typeAlias type="kr.go.seoul.democracy.discuss.model.vo.Discuss" alias="discuss" />
        <typeAlias type="kr.go.seoul.democracy.discuss.model.vo.DiscussFile" alias="discussFile" />
        <typeAlias type="kr.go.seoul.democracy.admin.model.vo.Admin" alias="admin" />
        <typeAlias type="kr.go.seoul.democracy.member.model.vo.MemberProfile" alias="memberProfile" />
        <typeAlias type="kr.go.seoul.democracy.adminNotice.model.vo.AdminNotice" alias="notice" />
    </typeAliases>
</configuration>