@import '/resources/style/icons.css';


:root {
    --COLOR-GRAY: #979797;
    --COLOR-FONT-GRAY: #979797;

    --HEIGHT-FRAME-MENU: 60px;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding-top: var(--HEIGHT-HEADER);
}

@media screen and (max-width: 1024px) {
    section {
        padding-top: var(--HEIGHT-HEADER-SMALL);
    }
}

/* common */
.inner {
    max-width: 1180px;
    margin: 0 auto;
}

.section {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    min-height: 800px;
}
.frame-image {
    position: relative;
    height: 200px;
    /* background-color: skyblue; */
    background-image: url('/resources/images/bg_visual_sub.jpg');
}
.frame-image h2 {
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 30px;
}

/* Menu */
.frame-menu {
    /* height: var(--HEIGHT-FRAME-MENU); */
    border-bottom: 1px solid var(--COLOR-GRAY);
    box-sizing: border-box;
}
.frame-menu .menubar {
    display: flex;
    flex-flow: row nowrap;
    height: var(--HEIGHT-FRAME-MENU);
}

/* common */
.menubar ul {
    display: flex;
    flex-flow: row;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--COLOR-FONT-GRAY);
    font: 100 15px/1.5 'Noto Sans KR', sans-serif;
}
.menubar a {
    text-decoration: none;
    color: var(--COLOR-FONT-GRAY);
}
.frame-menu a {
    z-index: 10;
}
.frame-menu .menubar > ul > li {
    border-right: 1px solid var(--COLOR-GRAY);
}
.frame-menu .menubar-icon {
    /* border-right: 1px solid black;; */
}
.frame-menu .menubar-list {
    display: inline-block;
    flex: 0 0 200px;
    width: 200px;
    position: relative;

    text-indent: -10px;
    text-align: center;
    text-decoration: none;    
}
.frame-menu .menubar-list .menu {
    display: none;
    z-index: 9;
    box-shadow: 2px 2px 10px #CCC;
}
.frame-menu .menubar-list .menuitem {
    position: relative;
    top: -1px;
    left: -1px;
    width: 200px;
    height: 60px;
    border: 1px solid var(--COLOR-GRAY);
    border-top: none;
    text-align: center;
    line-height: 60px;
    z-index: 20;
    background-color: white;
}
.frame-menu .menubar-list .submenu {
    border-top: 1px solid var(--COLOR-GRAY);
    display: none;
    background-color: white;
    box-shadow: 2px 2px 10px #CCC;
}


.slick-arrow {
    position: absolute;
    top: 22px;
    right: 16px;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
    border-right: 1px solid var(--COLOR-GRAY);
    border-bottom: 1px solid var(--COLOR-GRAY);
}

.frame-menu .menubar .icon {
    width: 24px;
    height: 24px;
    margin: 18px;
}
.frame-menu .menuitem:hover .submenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: absolute;
    top: -1px;
    left: 200px;
}
.frame-menu .menuitem:hover .submenu li {
    display: inline-block;
    width: 200px;
    height: 60px;
    border: 1px solid var(--COLOR-GRAY);
    border-top: none;
    text-align: center;
    line-height: 60px;
}

/* for JavaScript */
.hidden {
    display: none;
}

.frame-menu .menulist--show .menu {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
}


/* 
Content-Session: 글작성 버튼 
*/

.frame--header {
    width: 90%;
    min-height: 220px;
    margin: 20px auto;
    position: relative;
    border: 2px solid #CCC;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
}
.frame--header * {
    box-sizing: border-box;
}

.frame--header .rect {
    width: 100%;
    height: 14px;
    border: none;
}


.frame--header .contents-session {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 112px;
    padding: 6px 18px;

}
.frame--header .contents--textarea {
    flex: 1 0 auto;
}
.frame--header .contents--btns {
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.frame--header .contents--btns .btn {
    width: 180px;
    height: 46px;
    border-radius: 6px;
}
.frame--header .contents-tag {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 38px;
    position: absolute;
    padding-left: 10px;
    bottom: 0;
}
.frame--header a {
    margin-left: 20px;
    text-decoration: none;
    font: 600 16px/38px 'Noto Sans KR';
    color: #666;
}

/* VIEWER */

.content--viewer {

}
.content--viewer h4 {
    font: 500 30px/40px 'Noto Sans KR';
    margin-bottom: 0;
}
.content--viewer hr {
    border: 3px solid #CCC;
}

.content--block {
    
}
.content--block h2 {
    margin-top: 20px;
    font: 300 30px/40px 'Noto Sans KR';
    text-align: center;
}
.content--block h4 {
    margin-top: 70px;
    font: 500 20px/20px 'Noto Sans KR';
}
.content--block .img__center {
    display: block;
    text-align: center;
}
.content--block .img__center img {
    margin: 0 auto;
}

.detail-btn {
    display: block;
    width: 280px;
    height: 60px;
    border-radius: 6px;
    margin: 20px auto;
    background-color: #333;
    color: white;
    text-align: center;
    font: 100 20px/60px 'Noto Sans KR';

}
.detail-btn a {
    text-decoration: none;
    color: white;
}

.content--block ul {
    list-style: none;
    padding: none;
}


.card-container .card-item {
    height: 460px;
}
.card-container .card-item .icons {
    position: absolute;
    left: 0;
    bottom: 88px;
}