/* Footer */
/* screan 1600 기준 작성 */
@import '/resources/style/color.css';
@import '/resources/style/icons.css';

:root {
    --HEIGHT-FOOTER: 140px;
    --COLOR--FOOTER: #222;
    --COLOR--FNB: #20678B;
}


.footer-gap {
    height: 100px;
}

footer {
    display: block;
    /* position: absolute; */
    bottom: 0;

    width: 100vw;
    height: var(--HEIGHT-FOOTER);
    background-color: var(--COLOR--FOOTER);
}

.fnb {
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
    height: 60px;
    font: 400px;
    color: white;
    background-color: var(--COLOR--FNB);
}

.fnb ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60px;
    margin: 0;
    list-style: none;
}

.fnb li {
    display: inline-block;
    cursor: pointer;
    /* border-right: 1px solid white; */
}

.fnb li a {
    text-decoration: none;
    color: white;
}
.fnb a::after {
    margin-left: 30px;
    content: "|";
}
.fnb li:last-child > a::after {
    content: "";
}

/* .footer--content */
footer .content {
    /* position: absolute; */
    top: 60px;
    width: 100%;
    height: 80px;
    color: white;
}

footer .content ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    height: 80px;
    list-style: none;
    margin: 0;
}

footer .logo {
    margin-right: 60px;;
}

footer .address {
    flex: 1 0 auto;
}

footer .sns > ul {
    gap: 8px;
}

footer .icon {
    display: inline-block;
    text-decoration: none;
    text-indent: -200vw;
    width: 24px;
    height: 24px;
    color: white;
    filter: invert();
}

/* Media Query */
@media screen and (max-width: 1024px) {
    .footer-gap {
        height: var(--HEIGHT-FOOTER);
    }
    footer .logo {
        display: none;
    }

    footer .sns {
        display: none;
    }

    footer .address {
        text-align: center;
    }

}

@media screen and (max-height: 500px) {
    footer {
        display: none;
    }
}