/* Header */
/* screan 1600 기준 작성 */
@import '/resources/style/color.css';
@import '/resources/style/icons.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
    --HEIGHT-HEADER: 140px;
    --HEIGHT-HEADER-SMALL: 80px;
    --HEIGHT-GAP: 20px;
    --HEIGHT-GNB: 92px;

    --TABLET-SCREEN: 1024px;
    --MOBILE-SCREEN: 768px;
    --SMALL-SCREEN: 480px;

    --COLOR-SUBMENU: #EEE;
    --COLOR-MOBILE-MENU: #D9E9F7;
    --COLOR-FONT-DARK: #696969;
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
}

header {
    display: block;
    position: fixed;
    
    width: 100vw;
    height: var(--HEIGHT-HEADER);
    
    background-color: var(--COLOR-DARK);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: white;

    z-index: 100;
}
header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding-top: calc(var(--HEIGHT-HEADER) + var(--HEIGHT-GAP));
}

@media screen and (max-width: 1024px) {
    header {
        height: var(--HEIGHT-HEADER-SMALL);
    }
    section {
        padding-top: calc(var(--HEIGHT-HEADER-SMALL) + var(--HEIGHT-GAP));
    }
}

.inner {
    max-width: 1180px;
    margin: 0 auto;
}

/* NOTICE BAR */
.noticebar {
/*    display: none;*/
    height: 48px;
    background-color: var(--COLOR-BLUE);
    font: 200 14px/48px 'Noto Sans KR', sans-serif;
}
.noticebar .inner {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
}

.noticebar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.noticebar li {
    text-decoration: none;
    margin-right: 8px;
}
.noticebar li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}



@media screen and (max-width: 1024px) {
    .noticebar {
        display: none;
    }
}

/* Navi : GNB */
.gnb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: var(--HEIGHT-GNB);
    min-height: 8vh;
    padding: 0 20px;
}
.gnb ul {
    list-style: none;
}
.gnb li {
    flex: 0 0 auto;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .gnb {
        justify-content: space-between;
        height: 80px;
        margin: 0;
    }
    .gnb .logo {
        flex: 1 0 auto;
        text-align: center;
        text-indent: 120px;
    }
}

/* Menu */
.gnb .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 800px;
    margin: auto;
    
    z-index: 10;
}
.gnb .menuitem {
    display: block;
    flex: 0 0 auto;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.gnb .menuitem a {
    color: white;
    font: 400 17px 'Noto Sans KR', sans-serif;
    text-decoration: none;
    letter-spacing: -0.03em;
}

/* Navi : Submenu */
.gnb .submenu {
    display: none;
    position: relative;
    margin-top: 20px;
    z-index: 99;
    overflow: visible;
    width: 160px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

}
.gnb .submenu li {
    display: inline-block;
    height: 50px;
    width: 160px;
    /* padding: 4px; */
    text-align: center;
    z-index: 101;
    font: 500 14px/50px 'Noto Sans KR', sans-serif;
    color: var(--COLOR-FONT-DARK);
}
.gnb .submenu a {
    font: 500 14px/50px 'Noto Sans KR', sans-serif;
    color: var(--COLOR-FONT-DARK);
}

.gnb .menuitem.active .submenu {
    display: flex;
    flex-flow: column;
    background-color: var(--COLOR-SUBMENU);
}

@media screen and (max-width: 1024px) {
    
    .gnb .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 80px;
        right: 0;
        width: 200px;

        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: var(--COLOR-MOBILE-MENU);
    }
    .gnb .menuitem {
        display: block;
        position: relative;
        width: 100%;
        height: inherit;
        right: 0;
    }
    .gnb .menuitem a {
        color: var(--COLOR-FONT-DARK);
    }
    .gnb .submenu {
        display: none;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        opacity: 0%;
    }
    .gnb .submenu li {
        width: 100%;
    }
    .gnb .menuitem.active .submenu {
        display: none;
    }

    .gnb .menuitem:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
    .gnb .menuitem:hover .submenu {
        display: flex;
        flex-flow: column nowrap;
        opacity: 100%;
        
        transition: opacity 0.5s ease-in;
    }
    .gnb .submenu li {
        /* top: 40px; */
        padding: 0;
        height: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width: 768px) {
    .gnb .menu {
        width: 100%;
    }
}


/* Navi : ICONS */

.gnb .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 120px;
    margin: 4px;
}
.gnb .icons li {
    display: inline-block;
    cursor: pointer;
}
.gnb .icons li > .menubtn {
    display: none;
}

@media screen and (max-width: 1024px) {
    .gnb .icons {
        flex: 0 0 120px;
    }
    .gnb .icons li > .menubtn {
        display: inline-block;
        flex: 0 0 auto;
        right: 0px;
    }
}
/* Common - BTN */
.btn {
    border: none;
    width: 24px;
    height: 24px;
    background-color: gray;

    cursor: pointer;
}
.btn.invert {
    filter: invert(100%);
}
.btn.searchbtn {
    background: var(--IMAGE-URL-SEARCH);
}
.btn.loginbtn {
    background: var(--IMAGE-URL-LOGIN);
}
.btn.logoutbtn {
    background: var(--IMAGE-URL-LOGOUT);
}
.btn.accountbtn {
    background: var(--IMAGE-URL-ACCOUNT);
}
.btn.menubtn {
    background: var(--IMAGE-URL-MENU);
}


/* Annimation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Event: Active */
.menu.nav-active {
    transform: translateX(0);
}