.card-item {
    height: 430px;
    /* text-align: center; */
}
.card-item .icons {
    bottom: 68px;
}
.card-item .detail-btn {
    width: 60%;
    height: 44px;
    position: absolute;
    left: 50%;
    bottom: 14px;
    line-height: 44px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--COLOR-DARK-GRAY);
    color: white;
    text-decoration: none;
    transform: translateX(-50%);
}
.card-item.discussion .category,
.card-item.survey .category {
    display: none;
}
.card-item.discussion .title,
.card-item.survey .title {
    margin: 28px 0px;
}

.frame--header {
    box-shadow: 4px 4px 4px lightgray;
}