@charset "UTF-8";
.bg-color {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
    align-items: center;
}
.box-white {
	margin: 0 auto;
	width: 450px;
	background-color: white;
	padding: 40px;
}

.logo-user {
	margin-top: 20px;
	text-align: center;
}
.logo-user>a>img {
	height: 40px;
    margin-bottom: 50px;
	
}

.input-login {
	margin-top: 50px;
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: 1px solid #000000;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 19px;
	color: #000000;
}

.btn-submit {
	margin-top: 50px;
	width: 100%;
	height: 55px;
	background-color: #ffffff;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #000000;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

.btn-join {
	margin-top: 20px;
	width: 100%;
	height: 55px;
	background-color: #ffffff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}
.btn-join>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 55px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #000000;
}

.link-search {
	margin-top: 50px;
	text-align: center;
}
.link-search>a {
	height: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	color: #000000;
}
.link-search>a:first-child {
	margin-bottom: 20px;
}

.txt-welcome {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 30px;
	color: #2A2A2A;
	margin-bottom: 30px;
}
.txt-welcome>span {
	font-weight: 500;
}

.txt-welcomeInfo {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	margin-bottom: 30px;
}

.btn-goHome {
	width: 100%;
	height: 55px;
	background-color: #80ffff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}
.btn-goHome>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 55px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: white;
}