@charset "UTF-8";
.bg-color {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	overflow: hidden;
}
.box-white {
	margin: 10% auto;
	width: 400px;
	background-color: white;
	border-radius: 20px;
	padding: 40px;
}

.tab-search {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.tab-search>a {
	display: inline-block;
	width: 49%;
	height: 100%;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #ffffff;
}
.tab-search>a:last-child::after {
	content: "";
	display: block;
	width: 100%;
	height: 3.5px;
	background-color: #ffffff;
	margin-top: 15px;
}
.box-result>p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	margin-bottom: 30px;
}
.input-style {
	width: 100%;
}
input[name="userPwdRe"]{
	margin-top: 20px;
}

.btn-login {
	width: 100%;
	height: 55px;
	background-color: #9af3ed;
	border: none;
	border-radius: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: white;
	cursor: pointer;
	margin-top: 40px;
}