@charset "UTF-8";


table td {
	font-family: 'Noto Sans KR', sans-serif;
	vertical-align :middle;
	color: #2A2A2A;
}
.user-info {
	width: 100%;
	height: 600px;
}
.info {
	width: 100%;
}

.info td:first-child {
	width: 20%;
	height: 100px;
	font-size: 18px;
	font-weight: bold;
}
.info td:last-child {
	width: 40%;
	height: 100px;
}
.info td {
	border-top: 0.5px solid #808080;
}
.info {
	width: 100%;
}

.profile-img {
	width: 103px;
	height: 103px;
	padding: 20px 20px 20px 0;
}
.img-box {
	width: 90px;
	height: 90px;
	border: 1px solid #808080;
	border-radius: 100px;
}
.profile-img2 {
	width: 100px;
	height: 100px;
	display: block;
	
	object-fit: cover;
	border-radius: 50px;
	border: 0.5px solid #2A2A2A;
}
.btn-m {
	background-color: #9af3ed;
	float: right;
}
.btn-s {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	line-height: 40px;
	background-color: #9af3ed;
	color: #fff;
	text-align: center;
	cursor: pointer;
	margin-left: 20px;
}

input[type=text] {
	width: 486px;
	font-size: 16px;
	padding: 18px;
	color: #2A2A2A;
}
input[type=email] {
	width: 486px;
	font-size: 16px;
	padding: 18px;
	color: #2A2A2A;
}
input[type=button] {
	color: #fff;
	cursor: pointer;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
}
