@charset "UTF-8";

.user-info {
	height: 900px;
}
table td {
	font-family: 'Noto Sans KR', sans-serif;
	vertical-align :middle;
	color: #2A2A2A;
}
.info td:first-child {
	width: 20%;
	height: 100px;
	font-size: 18px;
	font-weight: bold;
}
.info {
	width: 100%;
}
.info td:last-child {
	width: 80%;
	height: 100px;
}
.info td {
	border-top: 0.5px solid #000000;
}

input[type=password] {
	width: 400px;
}

.btn-m {
	background-color: #ffffff;
	float:right;
}
input[type=submit] {
	color: #000000;
	cursor: pointer;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
}