@charset "UTF-8";

.tit-big:after {
	display: none;
}

.notice-top {
	width: 100%;
	height: 60px;
}
.box-button {
	padding-top: 30px;
}
.box-button>button {
	width: 200px;
	height: 80px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	float: left;
}
.box-button>button>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 80px;
}

.btn-notice {
	border: 0;
	background-color: #9af3ed;
}
.btn-notice>a {
	color: #fff;
}

.btn-campaign {
	border: 0.5px solid #808080;
	background-color: #fff;
}
.btn-campaign>a {
	color: #9af3ed;
}

.box-search {
	float: right;
	margin-top: -10px;
}


.container {
    width: 100%;
    height: auto;
    clear: both;
}
.container table {
    width: 100%;
    margin-top: 30px;
    border-top: 0.5px solid #D8D8D8;
}
.container table tr {
	width: 100%;
	height: 80px;
	line-height: 80px;
    border-bottom: 0.5px solid #D8D8D8;
}
.container table tr:first-child {
	height: 90px;
	line-height: 90px;
}

.container table tr th {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
    text-align: center;
}

.container table tr td {
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	text-align: center;
}
.container table tr td a {
	color: #2A2A2A;
}

.subject {
	text-align: left;
	padding-left: 20px;
}

#page_wrap {
	padding: 30px 0 80px;
}
