@charset "UTF-8";

:root{
    
    --COLOR-BORDER: #CCCCCC;
    
}

.container{
    
    margin-top: 40px;
	border:1px solid var(--COLOR-BORDER);
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(236, 240, 241, 0.5);
    min-height: 200px;
    min-width: 200px;
    padding :20px 150px;
    

}
section .title{
   width:820px;
    height:30px;
 	border:1px solid var(--COLOR-BORDER);
   
   
}	

.textBox {
	
	
}

section .ckeditor {
    min-width: 300PX;
    min-height: 400px;
    resize: none;
    display: table-cell;
}


.ck-editor__editable {
       height: 500px;
    }

section .commit {
	border:1px solid var(--COLOR-BORDER);
	background-color: white;
	padding :3px;
}
