:root{
    
    --COLOR-BORDER: #CCCCCC;
    
}

.container{
   
    margin: 40px;
   	border:1px solid var(--COLOR-BORDER);
    border-radius: 12px;
    box-sizing: border-box;
   	box-shadow: 4px 4px 4px rgba(236, 240, 241, 0.5);
    min-height: 200px;
    min-width: 200px;

}

.inner {
	
    max-width: 1180px;
    width: 100%;
}
   
.contentTitle{
    margin-left: 50px;  
}

.title{
	margin-top:-10px;
}

.proposalTitle{
	margin-top:-15px;
	margin-bottom:px;
    font-size:30px;
}

.date{
    margin-left:50px;
    font-size: 15px;
}

.hashtag{
    margin-left: 80%;
    font-size:15px;
     
}

.adminCon{
	display:flex;
	flex-direction: row;
	justify-content : flex-end;
	margin-right : 10px;
}
.adminCon button {
	margin-right : 5px;
	border:1px solid var(--COLOR-BORDER);
	background-color: white;
	padding :5px;
}

.view_content{
	
    min-height:700px;
    margin: 30px;
    border-bottom: 1px solid var(--COLOR-BORDER);
}

 .image>img {
 	width: 100%; 
 	height:100%
 }

.survey{
    text-align: center;
    box-sizing: border-box;
    background-color:#F0F0F0;
    border-radius: 12px;
    padding: 25px 100px ;
    border:0px; 
}

.sug{
    text-align: center;
    padding: 15px;
}

 .comment{   
width: 90%;
height: 140px;
box-sizing: border-box; 
border: 1px solid var(--COLOR-BORDER);
box-shadow: 4px 4px 4px rgba(236, 240, 241, 0.5);
margin: 0 auto 20px;
padding :15px;

} 


.reg{
   margin-right: 20px;
   border:1px solid var(--COLOR-BORDER);
	background-color: white;
	margin : 0 auto;
   
}


.commentContainer{
   
    margin: 40px;
   	border:1px solid var(--COLOR-BORDER);
    border-radius: 12px;
    box-sizing: border-box;
   	box-shadow: 4px 4px 4px rgba(236, 240, 241, 0.5);
    min-height: 200px;
    min-width: 200px;

} 

#commentOne {
	 	border:1px solid  var(--COLOR-BORDER);
		min-height : 80px;
		padding :30px;
}

.date {
	margin-left: 0px;
	margin-bottom: 10px;
	font-size : 12px;
}

.more{
	margin : 0 50%;
	width : 80px;
	hight : 100px;
	background-color: white;
	
}	
