@charset "UTF-8";

:root{
    
    --COLOR-BORDER: #CCCCCC;
    
}

.container{
   
    margin-top: 40px;
	border:1px solid var(--COLOR-BORDER);
    border-radius: 12px;
    box-sizing: border-box;
   box-shadow: 4px 4px 4px rgba(236, 240, 241, 0.5);
    min-height: 200px;
    min-width: 200px;

}
.title{
    width:800px;
   
   
}	

.editor4: focus{
    outline: none;
    width: 100%;
    height: 20px;
    resize: none;
    
}

.commit {
     margin-right: 20%;
}
